{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Appointment</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <h1>Book Appointment</h1>

        <form>

            <input type="text" placeholder="Enter Your Name"><br><br>

            <input type="text" placeholder="Enter Your Surname"><br><br>  

            <input type="tel" placeholder="Enter Your phone number"><br><br>

            <input type="date"><br><br>

            <button type="submit">Submit</button>

        </form>

    </div>

</body>
</html>