{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>HealthPlus Clinic</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <div class="navbar">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/doctors/">Doctors</a>
    <a href="/appointment/">Appointment</a>
    <a href="/contact/">Contact</a>
</div>

        <h1>Welcome to HealthPlus Clinic </h1>

        <p>Hospital & Clinic Management System</p>

        <a href="/appointment/">
            <button>Book an Appointment</button>
        </a>

    </div>

</body>
</html>